POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=

GF_SECURITY_ADMIN_PASSWORD=

POSTGRES_USER_TEST=
POSTGRES_PASSWORD_TEST=
POSTGRES_DB_TEST=

MONGO_INITDB_ROOT_USERNAME_TEST=
MONGO_INITDB_ROOT_PASSWORD_TEST=